{% extends "votes/base.html" %}
{% block content %}
<h2>Голосовать</h2>
<p>{{ voting.description }}</p>
<div class="row">
  <div class="col-md-8 col-sm-7 col-xs-6">
    <form method="post" action="">
        {% csrf_token %}
        {% for choice in voting.choices %}
        <div class="checkbox">
            <label>
                <input type="radio" name="vote" value="{{ choice.order }}"> {{ choice.description }}
            </label>
        </div>
        {% endfor %}
        {% if error %}<p>{{ error }}</p>{% endif %}
        {% if voted %}
        <span>Вы уже проголосовали. <a href="{% url 'votes_voting_results' slug=voting.slug %}">К результатам</a></span>
        {% else %}
        <button type="submit" class="btn btn-default">Голосовать</button>
        {% endif %}
    </form>
  </div>
  <div class="col-md-4 col-sm-5 col-xs-6"></div>
</div>
{% endblock content %}